services:
  database:
  image: mysql:8
  environment:
    MYSQL_DATABASE: appdb
    MYSQL_USER: edd
    MYSQL_PASSWORD: abc123
    MYSQL_ROOT_PASSWORD: rootpass
  volumes:
    - db_data:/var/lib/mysql
    - ./init:/docker-entrypoint-initdb.d
  networks:
    - app-network

app:
  build:
    context: .
    dockerfile: Dockerfile
  volumes:
    - ./app:/var/www/app
  networks:
    - app-network
  depends_on:
    - database

web:
  image: nginx:alpine
  ports:
    - "8082:80"
  volumes:
    - ./app:/var/www/app
    - ./nginx.conf:/etc/nginx/conf.d/default.conf
  networks:
  - app-network
  depends_on:
    - app

phpmyadmin:
  image: phpmyadmin/phpmyadmin
  restart: always
  ports:
    - "8081:80"
  environment:
    PMA_HOST: database
    PMA_USER: root
    PMA_PASSWORD: rootpass
  networks:
    - app-network
  depends_on:
    - database

volumes:
  db_data:

networks:
  app-network:
  driver: bridge